{% extends "tracker/base.html" %}

{% load static %}

{% block statics %}
	<link rel="stylesheet" href="{% static 'tracker/tracker.css' %}">
	<!-- Include Handlebars from a CDN -->
	<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
	<!-- Handlebars template for a new table row -->
	<script id="new-creature" type="text/x-handlebars-template">
		<tr class="creature">
			<td><input type="checkbox" name="num"></td>
			<td>Initiative</td>
			<td>Name</td>
			<td><input type="text" class="hp-box"> / <input type="text" class="hp-box"></td>
			<td><input type="text" class="notes-box" placeholder="Notes"></td>
		</tr>
	</script>
	<script src="{% static 'tracker/tracker.js' %}"></script>
{% endblock %}

{% block title %}
	Initiativizer
{% endblock %}

{% block body %}
	<div class="container">
		<h1>D&D Initiativizer</h1>
		<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Select</th>
					<th scope="col">Initiative</th>
					<th scope="col">Creature</th>
					<th scope="col">HP</th>
				</tr>
			</thead>
			<tbody id="creatures">
			</tbody>
		</table>
		<button id="add" class="btn btn-primary">Add Creature</button>
		<button id="delete" class="btn btn-primary">Delete Selections</button>
	</div>
{% endblock %}
